.wd-home{
    list-style: none;
    margin-left: 20px;
}

.wd-flex-row-container{
    display: flex;
    flex-direction: row;
}
.wd-top{
    margin-top: 80px;
}

.wd-breadcrumb{
    margin-left:100px ;
    margin-top: 10px;
    width: 100%;
    position: absolute;
}

.wd-home i{
    color: black;
}

.wd-home a{
    color: red;
    text-decoration: none;
}

.wd-home button{
    background-color: rgb(197, 176, 176);
}


.wd-home li.list-group-item{
    font-size: 10px;
    color: brown;
}

.wd-specific li.list-group-item{
    font-size: 16px;

}