/* DriverDetails.css */

.driver-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: auto;
  }
  
  .details-title {
    font-size: 50px;
    margin-bottom: 20px;
  }
  
  .driver-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .driver-image {
    width: 300x;
    height: 300px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
  }
  
  .driver-info {
    padding: 20px;
    text-align: center;
  }
  
  .driver-name {
    font-size: 20px;
    margin-bottom: 8px;
  }
  
  .driver-nationality {
    font-size: 16px;
    color: #555;
  }
  