.wd-account-navigation{
    background-color: white;
    padding: 0px;
    margin: 0px;
    width: 120px;
    list-style: none;
    margin-left: 20px;
    margin-right: 40px;
}
.wd-account-navigation li{
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top:10px ;
}

.wd-account-navigation li.wd-active{
    border-left: 1px solid black;
}
.wd-account-navigation li.wd-active a{
    color: black;
}

.wd-account-navigation a{
    color: red;
    text-decoration: none;
}

.wd-account i{
    color: white;
}

.wd-profile i{
    width: 200px;
}