.NavBar {
  display: flex;
  background-color: rgb(185, 21, 21);
}

.NavBar a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.NavBar a.active {
  color: white;
}

.NavBarLink {
  color: white;
  text-decoration: none;
  margin-right: 0px;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Add a smooth transition for background color, text color, and transform */
  display: flex;
  align-items: center;
}

.NavBarLink.active {
  background-color: rgb(190, 132, 132)
}


.NavBarLink:hover {
  background-color: black;
  color: white;
  transform: scale(1.1); /* Make the elements 10% larger on hover */
}

.SportsNavigation {
  opacity: 0;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out, height 0s linear 0.3s; 
}

.SportsNavigation.active {
  opacity: 1;
  visibility: visible;
  height: auto; 
  pointer-events: auto;
  transition: opacity 0.3s ease-in-out, height 0s linear;
}


