.App-title {
  color: red;
  text-align: center;
  transition: color 0.3s; /* Add a smooth transition effect for the color change */
  text-decoration: none;
}

.App-title:hover {
  color: rgb(75, 3, 3); /* Change the color when hovering over the title */
}
